<%- include("Partials/header.ejs") %>


<body>
    <header class="top-header">
        <nav class="sidebar">
            <div class="sidebar-header">
                <i class="ri-arrow-left-line sidebar-close"></i>
            </div>
            <ul class="sidebar-nav">
                <li><a href="/homePage">Home</a></li>
                <li><a href="/inventaris">Inventaris</a></li>
                <li><a href="/shop">Winkel</a></li>
                <li><a href="/friendslist">Vriendenlijst</a></li>
                <li><a href="/settings">Instellingen</a></li>
            </ul>
            <div class="sidebar-bottom">
                <div class="user-circle"></div>
                <span>Naam</span>
                <span><a href="/index">Uitloggen</a></span>
            </div>
        </nav>
        <div class="overlay"></div>


        <i class="ri-menu-line"></i>

        <h1 class="logo"><a href="/homePage">ICONS</a></h1>

        <div class="nav-items-right">
            <div class="mode-toggle-right">
                <label class="switch">
                    <input type="checkbox" id="modeSwitch">
                    <span class="slider round">
                        <i class="ri-sun-line sun-icon"></i>
                        <i class="ri-moon-line moon-icon"></i>
                    </span>
                </label>
            </div>

            <div class="search-container">
                <i class="ri-search-2-line" id="search-icon"></i>
                <input type="text" class="search-input" placeholder="Zoeken...">
            </div>

            <i class="ri-account-circle-fill user"></i>

            <div class="account-card">
                <ul class="list">
                    <li class="element">
                        <a href="/profiel" class="label"><i class="ri-account-box-2-fill"></i>Profiel</a>
                    </li>
                    <li class="element">
                        <a href="/settings" class="label"><i class="ri-settings-5-fill"></i>Instellingen</a>
                    </li>
                    <div class="separator"></div>
                    <li class="element">
                        <a href="/index" class="label"><i class="ri-logout-box-r-fill"></i>Uitloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="homePage-content">

            <div>
                <h2 class="selection-title"><i class="ri-information-fill"></i> Progressie</h2>
                <section class="homePage-info">
                    <section class="profile-box">
                        <div class="profile-container">
                            <img src="assets/images/profileAvatar.jpg" alt="Profile Avatar" class="profile-avatar">
                            <div class="profile-info">
                                <h2 class="username"><i class="ri-account-box-fill"></i> gebruikersNaam</h2>
                                <p class="level"><i class="ri-bard-fill"></i> Level: 455</p>
                                
                            </div>
                        </div>
                    </section>

                    <section class="history-box">
                        <div class="stat-item">
                            <h2><i class="ri-history-line"></i> Geschiedenis</h2>
                            <h5><i class="ri-fire-fill"></i> Record: 25min 11sec / 3050p</h5>
                            <ul class="history-list">
                                <li id="win">Gewonnen: 10min 45sec / 1050p</li>
                                <li id="lose">Verloren: 2min 34sec / 250p</li>
                                <li id="win">Gewonnen: 8min 23sec / 940p</li>
                                <li id="win">Gewonnen: 3min 21sec / 360p</li>
                                <li id="win">Gewonnen: 5min 57sec / 640p</li>
                            </ul>
                        </div>

                    </section>
            </div>
            </section>
            <div>
                <h1 class="selection-title"><i class="ri-tools-fill"></i> Loadout</h1>
                <section id="loadout">

                    <div class="character-slots">
                        <h3 class="selection-title"><i class="ri-user-fill"></i> Speler</h3>
                        <div class="character-slot">
                            <img src="assets/images/skin1.webp" alt="Character" class="character-image"
                                onclick="toggleSelection(this)">
                            <div class="character-selection">
                                <img src="assets/images/skin2.jpg" alt="Option 1" class="character-option"
                                    onclick="selectCharacter(this)">
                                <img src="assets/images/skin3.webp" alt="Option 2" class="character-option"
                                    onclick="selectCharacter(this)">
                                <img src="assets/images/skin4.webp" alt="Option 3" class="character-option"
                                    onclick="selectCharacter(this)">
                                <img src="assets/images/skin5.jpg" alt="Option 4" class="character-option"
                                    onclick="selectCharacter(this)">
                                <img src="assets/images/skin1.webp" alt="Option 5" class="character-option"
                                    onclick="selectCharacter(this)">
                            </div>
                        </div>
                    </div>


                    <div class="weapon-slots">
                        <h3 class="selection-title"><i class="ri-sword-fill"></i> Wapen</h3>
                        <div class="weapon-slot">
                            <div class="weapon-image-container" onclick="toggleSelection(this)">
                            <img src="assets/images/weapon1.webp" alt="Weapon" class="weapon-image">
                            </div>
                            <div class="weapon-selection">
                                <img src="assets/images/weapon2.webp" alt="Option 1" class="weapon-option"
                                    onclick="selectWeapon(this)">
                                <img src="assets/images/weapon3.webp" alt="Option 2" class="weapon-option"
                                    onclick="selectWeapon(this)">
                                <img src="assets/images/weapon4.webp" alt="Option 3" class="weapon-option"
                                    onclick="selectWeapon(this)">
                                <img src="assets/images/weapon5.webp" alt="Option 4" class="weapon-option"
                                    onclick="selectWeapon(this)">
                                <img src="assets/images/weapon1.webp" alt="Option 5" class="weapon-option"
                                    onclick="selectWeapon(this)">
                            </div>
                        </div>
                    </div>


                    <div class="emote-slots">
                        <h3 class="selection-title"><i class="ri-bear-smile-fill"></i> Emote</h3>
                        <div class="emote-slot">
                            <div class="emote-image-container" onclick="toggleSelection(this)">
                            <img src="assets/images/emote1.png" alt="Emote" class="emote-image">
                            </div>
                            <div class="emote-selection">
                                <img src="assets/images/emote2.png" alt="Option 1" class="emote-option"
                                    onclick="selectEmote(this)">
                                <img src="assets/images/emote3.png" alt="Option 2" class="emote-option"
                                    onclick="selectEmote(this)">
                                <img src="assets/images/emote4.jpg" alt="Option 3" class="emote-option"
                                    onclick="selectEmote(this)">
                                <img src="assets/images/emote5.png" alt="Option 4" class="emote-option"
                                    onclick="selectEmote(this)">
                                <img src="assets/images/emote1.png" alt="Option 5" class="emote-option"
                                    onclick="selectEmote(this)">
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            </section>
            </section>
        </div>
        <section id="button">
            <button class="startButton">Begin Spel <i class="ri-play-large-fill"></i></button>
            <div class="helpButton"><i class="ri-question-fill"></i><span class="helpButton-text">Als je wilt bewegen
                    gebruik de pijltoetsen en om aan te vallen gebruik "spatie", success!!!</span></div>
        </section>
    </main>

</body>

</html>
    <%- include("Partials/footer.ejs") %>
