</body>
<footer>
    <p>&copy; Alle rechten voorbehouden aan ICONS 2025</p>
    <nav class="footer-nav">
    </nav>
</footer>
<script src="api.js"></script>
<script src="public/js/script.js"></script>
</html>
<script></script>